[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Energy Tracking Systems for Public Schools
[access "refs/*"]
	owner = group user/Müslüm Can Özata (muslumcanozata)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Müslüm Can Özata (muslumcanozata)
	label-Verified = -1..+1 group user/Müslüm Can Özata (muslumcanozata)
	push = group user/Müslüm Can Özata (muslumcanozata)
	read = group user/Müslüm Can Özata (muslumcanozata)
	rebase = group user/Müslüm Can Özata (muslumcanozata)
	removeReviewer = group P149-Bootcamp-Group4
	removeReviewer = group user/Müslüm Can Özata (muslumcanozata)
	submit = group P149-Bootcamp-Group4
	submit = group user/Müslüm Can Özata (muslumcanozata)
[access "refs/heads/*"]
	create = group P149-Bootcamp-Group4
	create = group user/Müslüm Can Özata (muslumcanozata)
	push = group P149-Bootcamp-Group4
	push = +force group user/Müslüm Can Özata (muslumcanozata)
	pushMerge = group P149-Bootcamp-Group4
	pushMerge = group user/Müslüm Can Özata (muslumcanozata)
	read = group P149-Bootcamp-Group4
	read = group user/Müslüm Can Özata (muslumcanozata)
[access "refs/tags/*"]
	push = group P149-Bootcamp-Group4
	push = group user/Müslüm Can Özata (muslumcanozata)
	push = +force group user/Müslüm Can Özata (muslumcanozata)
